@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Noto Sans TC", sans-serif;
}

body,
a,
span {
  color: white;
}

a {
  text-decoration: none;
}

span {
  display: block;
}

button {
  cursor: pointer;
  border-radius: 16px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1326px;
  margin: 0 auto;
}

.header__logo {
  width: 18.9%;
  margin: 20px 0;
}
.header__logo a {
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023web-camp/logo.png");
  background-size: cover;
  width: 245px;
  height: 40px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}
.header__list a:hover {
  border-bottom: 1px solid #ffffff;
}

.nav-icon {
  display: none;
  cursor: pointer;
}
.nav-icon__list {
  height: calc(100vh - 80px - 148px);
}
.nav-icon__menu {
  position: absolute;
}

.icon-s {
  font-size: 16px;
}
.icon-l {
  font-size: 80px;
}
.icon-menu {
  position: absolute;
}
.icon-remove {
  position: absolute;
  left: 0px;
}

.btn--active {
  transition: all 0.1s ease-in-out;
}
.btn--active:hover {
  background: #ffffff;
}
.btn--active:hover span {
  color: #000;
}

.title__content {
  width: 50%;
}

.motion__img-a {
  animation: motion 4s 3s ease-in-out infinite backwards;
}
.motion__img-b {
  animation: motion 4s 3.5s ease-in-out infinite backwards;
}
.motion__img-c {
  animation: motion 4s 3.7s ease-in-out infinite backwards;
}

.mask {
  overflow: hidden;
}

@keyframes motion {
  0% {
    transform: translate(0.1px, 180px);
  }
  15% {
    transform: translate(0.1px, 180px);
  }
  45% {
    transform: translate(0.1px, 0px);
  }
  75% {
    transform: translate(0.1px, 0px);
  }
  95% {
    transform: translate(0.1px, -180px);
  }
  100% {
    transform: translate(0.1px, -180px);
  }
}
.price-card {
  width: 49%;
}
.price-card__list {
  list-style: disc;
}
.price-card__info {
  flex: 1 0 254px;
}

.service__title {
  width: 31.9%;
}
.service__content {
  width: 66%;
}
.service__card {
  width: 32%;
}

.partner__mask-a {
  position: absolute;
  width: 15%;
  height: 100%;
  background-color: #ff0000;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 80%);
}
.partner__mask-b {
  position: absolute;
  right: 0;
  width: 15%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 80%);
}
.partner__enterprise {
  position: relative;
  overflow: hidden;
}
.partner__img {
  position: relative;
  z-index: -1;
}
.partner__img img:nth-child(n+1) {
  width: 12.3%;
  margin: 0 20px;
}
.partner__card {
  width: 32%;
  padding: 40px;
}
.partner__content {
  flex: 1 0 215px;
}

.star {
  width: 96px;
}

.swiper-pagination.swiper-pagination-bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px; /*元素底部邊緣與區塊底部的距離*/
}

.swiper-pagination-bullet {
  background-color: #525252;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}

.moveSlideshow {
  animation: moveSlideshow 20s linear infinite;
}
.moveSlideshow-b {
  animation: moveSlideshow1 20s linear infinite;
}

@keyframes moveSlideshow {
  0% {
    transform: translate(-102px, 0px);
  }
  100% {
    transform: translate(-1298px, 0px);
  }
}
@keyframes moveSlideshow1 {
  0% {
    transform: translate(-4px, 0px);
  }
  100% {
    transform: translate(-1200px, 0px);
  }
}
.search img {
  width: 24px;
}
.search input {
  font-size: 16px;
}
.search input:focus {
  outline: none;
}

.filter button {
  transition: all 0.1s ease-in-out;
}
.filter button:hover {
  background-color: #f2f2f2;
}
.filter button:hover span {
  font-weight: 700;
}
.filter__sort {
  order: 2;
}
.filter__order {
  order: 3;
}
.filter__sort-s {
  width: 544px;
}
.filter__sort-s button {
  transition: all 0.1s ease-in-out;
}
.filter__sort-s button:hover {
  background-color: #f2f2f2;
}
.filter__sort-s button:hover span {
  font-weight: 700;
}
.filter-float {
  width: 240px;
  padding: 20px 0px;
  position: absolute;
  z-index: 5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.filter-float--active p {
  margin-left: 40px;
  margin-right: 32px;
}
.filter-float--active:hover {
  background-color: #f2f2f2;
}
.filter-order {
  padding: 20px 0px;
  position: absolute;
  z-index: 5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.filter-order--active p {
  margin: 0 40px;
}
.filter-order--active:hover {
  background-color: #f2f2f2;
}

.menu__card {
  width: 32%;
}

.card__content {
  flex-grow: 1;
}
.card__img {
  overflow: hidden;
  width: 100%;
}
.card__img--active {
  transition: all 0.5s ease-out;
}
.card__img--active:hover {
  transform: scale(1.2);
}
.card__img img {
  width: 100%;
}

.page__btn {
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.1s ease-in-out;
}
.page__btn {
  color: #000;
  background: #ffffff;
}
.page__btn:not(:last-child) {
  margin-right: 4px;
}
.page__btn:hover {
  background-color: #f2f2f2;
  color: #000;
}

[type=radio]:checked + label {
  background: #000000;
}
[type=radio]:checked + label span {
  color: #ffffff;
}

.active,
.page__btn.active:hover {
  color: #ffffff;
  background-color: #000000;
}

.question__option {
  width: 66%;
  cursor: pointer;
}
.question-title {
  flex-grow: 1;
}

.footer__logo {
  width: 18.9%;
}
.footer__backtotop {
  flex-grow: 1;
}

.backtotop {
  cursor: pointer;
}

.copyright {
  width: 15%;
  white-space: nowrap;
}

.d-f {
  display: flex;
}
.d-b {
  display: block;
}
.d-n {
  display: none;
}

.jcsb {
  justify-content: space-between;
}
.jcfe {
  justify-content: flex-end;
}
.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.fxww {
  flex-wrap: wrap;
}
.fxdc {
  flex-direction: column;
}

.pb-s {
  padding-bottom: 16px;
}
.pt-s {
  padding-top: 16px;
}
.pb-l {
  padding-bottom: 40px;
}
.p-l {
  padding: 40px;
}
.py-2xs {
  padding-top: 4px;
  padding-bottom: 4px;
}
.py-xs {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-s {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-m {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-xl {
  padding-top: 80px;
  padding-bottom: 80px;
}
.py-160 {
  padding-top: 160px;
  padding-bottom: 160px;
}
.px-m {
  padding-left: 32px;
  padding-right: 32px;
}
.px-l {
  padding-left: 40px;
  padding-right: 40px;
}
.pm-btn {
  padding: 20px 32px 20px 40px;
}
.ps-btn {
  padding: 8px 16px;
}

.mr-xs {
  margin-right: 12px;
}
.mr-s {
  margin-right: 16px;
}
.mr-m {
  margin-right: 20px;
}
.ml-m {
  margin-left: 24px;
}
.ml-xl {
  margin-left: 40px;
}
.mb-2xs {
  margin-bottom: 8px;
}
.mb-xs {
  margin-bottom: 12px;
}
.mb-s {
  margin-bottom: 16px;
}
.mb-m {
  margin-bottom: 20px;
}
.mb-l {
  margin-bottom: 24px;
}
.mb-xl {
  margin-bottom: 32px;
}
.mb-2xl {
  margin-bottom: 40px;
}
.mb-3xl {
  margin-bottom: 48px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mt-2xs {
  margin-top: 4px;
}
.mt-s {
  margin-top: 16px;
}
.mt-m {
  margin-top: 24px;
}
.mt-l {
  margin-top: 40px;
}
.mt-xl {
  margin-top: 80px;
}
.mt-160 {
  margin-top: 160px;
}
.mt-238 {
  margin-top: 160px;
}
.my-m {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-l {
  margin-top: 40px;
  margin-bottom: 40px;
}
.my-160 {
  margin-top: 160px;
  margin-bottom: 160px;
}
.mx-l {
  margin-left: 40px;
  margin-right: 40px;
}

.text-light {
  color: #ffffff;
}
.text-light1 {
  color: #f2f2f2;
}
.text-dark {
  color: #000;
}
.text-dark1 {
  color: #919191;
}
.text-dark2 {
  color: #525252;
}
.text-tool {
  color: #000;
}
.text-00 {
  font-size: 12px;
}
.text-0 {
  font-size: 14px;
}
.text-1 {
  font-size: 20px;
}
.text-3 {
  font-size: 32px;
}
.text-5 {
  font-size: 48px;
}
.text-6 {
  font-size: 80px;
}
.text-title {
  font-size: 120px;
}
.text-700 {
  font-weight: 700;
}
.text-900 {
  font-weight: 900;
}
.text-c {
  text-align: center;
}

.icon-s {
  font-size: 16px;
}

.position-relative {
  position: relative;
}

.opacity {
  opacity: 0;
}

.lh-0 {
  line-height: 120%;
}
.lh-1 {
  line-height: 150%;
}

.bk-dark {
  background: #000;
}
.bk-light {
  background: #ffffff;
}
.bk-alpha {
  background: rgba(255, 255, 255, 0.08);
}
.bk-tool {
  background: #f2f2f2;
}

.border {
  border: 1px solid #ffffff;
}
.border-2 {
  border: 1px solid #f2f2f2;
}
.border-2b {
  border-bottom: 1px solid #f2f2f2;
}
.border-n {
  border: none;
}
.border-b {
  border-bottom: 1px solid #ffffff;
}
.border-t {
  border-top: 1px solid #ffffff;
}
.border-0 {
  border: 1px solid #525252;
}
.border-0b {
  border-bottom: 1px solid #525252;
}
.border-radius {
  border-radius: 16px;
}
.border-radius-t {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.border-radius120 {
  border-radius: 120px;
}
.border-radius-n {
  border-radius: 0px;
}

@media (max-width: 992px) {
  .container {
    max-width: 968px;
  }
  .container-s {
    padding-left: 15px;
    padding-right: 15px;
  }
  .service__content {
    margin-bottom: 48px;
  }
  .service__card {
    width: 100%;
    padding: 40px;
  }
  .service__card:not(:last-child) {
    margin-bottom: 24px;
  }
  .tool h3 {
    font-size: 48px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 32px;
  }
  .search,
  .filter {
    margin-bottom: 16px;
  }
  .menu {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .menu__card {
    width: 49%;
    margin: 0;
  }
  .menu__card:nth-child(n+3) {
    margin-top: 20px;
  }
  .footer__backtotop {
    margin-top: 12px;
  }
}
@media (max-width: 847px) {
  .filter__sort {
    display: none;
  }
  .filter__sort-s {
    display: flex;
  }
  .filter__scroll {
    overflow-x: scroll;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 743px;
  }
  .header__logo {
    width: 41.8%;
  }
  .title__info {
    display: none;
  }
  .title__info-s {
    display: block;
  }
  .title__content {
    font-size: 28px;
    width: 73%;
    margin-top: 64px;
  }
  .text-title {
    font-size: 48px;
  }
  .motion {
    margin: 0 auto;
  }
  .motion img {
    width: 33.3%;
  }
  .service-info {
    margin-bottom: 48px;
  }
  .service__card {
    width: 100%;
    padding: 40px 20px;
  }
  .service__card:not(:last-child) {
    margin-bottom: 12px;
  }
  .service__title {
    width: 100%;
    font-size: 20px;
    margin-bottom: 24px;
  }
  .service__content {
    width: 100%;
    font-size: 32px;
  }
  .my-160 {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .partner__img img:nth-child(n+1) {
    width: 48.5%;
    margin: 0 20px;
  }
  .partner__title {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .swiper {
    margin-top: 48px;
  }
  .filter__sort {
    display: none;
  }
  .filter__sort-s {
    display: flex;
  }
  .filter__scroll {
    overflow-x: scroll;
  }
  .py-160 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .tool h3 {
    font-size: 32px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 32px;
  }
  .menu__card {
    width: 90%;
    margin: 0 auto;
  }
  .menu__card:nth-child(n+3) {
    margin-top: 0px;
  }
  .menu__card:not(:last-child) {
    margin-bottom: 24px;
  }
  .question__title, .question__option {
    width: 100%;
  }
  .question__title {
    font-size: 20px;
  }
  .start__title {
    display: none;
  }
  .start__title-s {
    display: flex;
  }
  .copyright {
    width: 27%;
    white-space: nowrap;
  }
  .footer__logo {
    order: -1;
    width: 69%;
    margin-bottom: 40px;
  }
  .footer-link__list {
    width: 100%;
    font-size: 48px;
  }
  .footer__list {
    order: 3;
    margin-top: 12px;
    width: 100%;
  }
  .footer__backtotop {
    margin-bottom: 12px;
  }
}
@media (max-width: 375px) {
  .main {
    padding: 0 12px;
  }
  .container {
    max-width: 375px;
  }
  .container-s {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header__list {
    display: none;
  }
  .header__logo a {
    width: 147px;
    height: 24px;
  }
  .nav-icon {
    display: flex;
  }
  .title__btn {
    margin-bottom: 180px;
  }
  .motion {
    width: 100%;
  }
  .price__title {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .price-card {
    width: 100%;
  }
  .price-card:not(:last-child) {
    margin-bottom: 12px;
  }
  .price-card__info, .price-card__cost {
    padding: 20px;
  }
  .price-card__info {
    flex: 1 0 176px;
  }
  .mt-238 {
    margin-top: 258px;
  }
  .partner__card {
    padding: 20px;
  }
  .norm__title {
    font-size: 20px;
  }
  .rule__title {
    font-size: 32px;
  }
  .rule__content {
    font-size: 16px;
  }
  .border-radius120 {
    border-radius: 20px;
  }
  .menu__card {
    width: 100%;
  }
  .menu__card:not(:last-child) {
    margin-bottom: 12px;
  }
  .copyright {
    white-space: nowrap;
  }
}/*# sourceMappingURL=all.css.map */