@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC&display=swap");
@import "./reset";
@import "./basic";

.container {
  max-width: 1326px;
  margin: 0 auto;
}
.header {
  &__logo {
    width: 18.9%;
    margin: 20px 0;

    a {
      background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023web-camp/logo.png");
      background-size: cover;
      width: 245px;
      height: 40px;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
      float: left;
    }
  }
  &__list {
    a:hover {
      border-bottom: 1px solid #ffffff;
    }
  }
  // &-menu__list {
  //   padding: 192px 0px;
  // }
}
.nav {
  &-icon {
    display: none;

    cursor: pointer;
  }
  &-icon__list {
    height: calc(100vh - 80px - 148px);
  }
  &-icon__menu {
    position: absolute;
  }
}
.icon {
  &-s {
    font-size: 16px;
  }
  &-l {
    font-size: 80px;
  }

  &-menu {
    position: absolute;
  }

  &-remove {
    position: absolute;
    left: 0px;
  }
}
.btn--active {
  transition: all 0.1s ease-in-out;
  &:hover {
    background: #ffffff;
    span {
      color: #000;
    }
  }
}
.title {
  &__content {
    width: 50%;
  }
}
//----------------header動畫------------------
.motion {
  &__img-a {
    animation: motion 4s 3s ease-in-out infinite backwards;
  }
  &__img-b {
    animation: motion 4s 3.5s ease-in-out infinite backwards;
  }
  &__img-c {
    animation: motion 4s 3.7s ease-in-out infinite backwards;
  }
}
.mask {
  overflow: hidden;
}
@keyframes motion {
  0% {
    transform: translate(0.1px, 180px);
  }
  15% {
    transform: translate(0.1px, 180px);
  }
  45% {
    transform: translate(0.1px, 0px);
  }
  75% {
    transform: translate(0.1px, 0px);
  }
  95% {
    transform: translate(0.1px, -180px);
  }
  100% {
    transform: translate(0.1px, -180px);
  }
}
//----------------header動畫------------------
.price {
  &-card {
    width: 49%;
  }
  &-card__list {
    list-style: disc;
  }
  &-card__info {
    flex: 1 0 254px;
  }
}
.service {
  &__title {
    width: 31.9%;
  }
  &__content {
    width: 66%;
  }
  &__card {
    width: 32%;
  }
}
.partner {
  &__mask-a {
    position: absolute;
    width: 15%;
    height: 100%;
    background-color: #ff0000;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 80%);
  }
  &__mask-b {
    position: absolute;
    right: 0;
    width: 15%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 80%);
  }
  &__enterprise {
    position: relative;
    overflow: hidden;
  }
  &__img {
    position: relative;
    z-index: -1;
    img:nth-child(n + 1) {
      width: 12.3%;
      margin: 0 20px;
    }
  }
  &__card {
    width: 32%;
    padding: 40px;
  }
  &__content {
    flex: 1 0 215px;
  }
}
.star {
  width: 96px;
}
.swiper-pagination.swiper-pagination-bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px; /*元素底部邊緣與區塊底部的距離*/
}

.swiper-pagination-bullet {
  background-color: #525252;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}

//----------------logo幻燈------------------
.moveSlideshow {
  animation: moveSlideshow 20s linear infinite;
  &-b {
    animation: moveSlideshow1 20s linear infinite;
  }
}
@keyframes moveSlideshow {
  0% {
    transform: translate(-102px, 0px);
  }

  100% {
    transform: translate(-1298px, 0px);
  }
}
@keyframes moveSlideshow1 {
  0% {
    transform: translate(-4px, 0px);
  }

  100% {
    transform: translate(-1200px, 0px);
  }
}
//----------------logo幻燈------------------
.search {
  img {
    width: 24px;
  }
  input {
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }
}
.filter {
  button {
    transition: all 0.1s ease-in-out;
    &:hover {
      background-color: #f2f2f2;
      span {
        font-weight: 700;
      }
    }
  }
  &__sort {
    order: 2;
  }
  &__order {
    order: 3;
  }
  &__sort-s {
    width: 544px;
    button {
      transition: all 0.1s ease-in-out;
      &:hover {
        background-color: #f2f2f2;
        span {
          font-weight: 700;
        }
      }
    }
  }

  &-float {
    width: 240px;
    padding: 20px 0px;
    position: absolute;
    z-index: 5;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    &--active {
      p {
        margin-left: 40px;
        margin-right: 32px;
      }

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
  &-order {
    padding: 20px 0px;
    position: absolute;
    z-index: 5;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    &--active {
      p {
        margin: 0 40px;
        // margin-left: 40px;
        // margin-right: 32px;
      }
      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}
.menu {
  &__card {
    width: 32%;
  }
}
.card {
  &__content {
    flex-grow: 1;
  }
  &__img {
    overflow: hidden;
    width: 100%;
    &--active {
      transition: all 0.5s ease-out;
    }
    &--active:hover {
      transform: scale(1.2);
    }
    img {
      width: 100%;
    }
  }
}
.page {
  &__btn {
    cursor: pointer;
    width: 48px;
    height: 48px;
    transition: all 0.1s ease-in-out;
  }
  &__btn {
    color: #000;
    background: #ffffff;
  }
  &__btn:not(:last-child) {
    margin-right: 4px;
  }
  &__btn:hover {
    background-color: #f2f2f2;
    color: #000;
  }
}
//page換頁點擊效果
[type="radio"] {
  &:checked + label {
    //被選取時，改變label顏色
    background: #000000;
    span {
      color: #ffffff;
    }
  }
}

.active,
.page__btn.active:hover {
  color: #ffffff;
  background-color: #000000;
}
.question {
  &__option {
    width: 66%;
    cursor: pointer;
  }
  &-title {
    flex-grow: 1;
  }
}

.footer {
  &__logo {
    width: 18.9%;
  }
  &__backtotop {
    flex-grow: 1;
  }
}
.backtotop {
  cursor: pointer;
}
.copyright {
  width: 15%;
  white-space: nowrap;
}

@import "./utilities";

@media (max-width: 992px) {
  .container {
    max-width: 968px;
  }
  .container-s {
    padding-left: 15px;
    padding-right: 15px;
  }

  .service {
    &__content {
      margin-bottom: 48px;
    }
    &__card {
      width: 100%;
      padding: 40px;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  .tool {
    h3 {
      font-size: 48px;
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 32px;
    }
  }
  .search,
  .filter {
    margin-bottom: 16px;
  }
  .menu {
    margin-top: 32px;
    margin-bottom: 32px;
    &__card {
      width: 49%;
      margin: 0;
    }
    &__card:nth-child(n + 3) {
      margin-top: 20px;
    }
  }

  .footer {
    &__backtotop {
      margin-top: 12px;
    }
  }
}
//分類按鈕斷點
@media (max-width: 847px) {
  .filter {
    &__sort {
      display: none;
    }
    &__sort-s {
      display: flex;
    }
    &__scroll {
      overflow-x: scroll;
    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 743px;
  }

  .header {
    &__logo {
      width: 41.8%;
    }
  }
  .title {
    &__info {
      display: none;
      &-s {
        display: block;
      }
    }
    &__content {
      font-size: 28px;
      width: 73%;
      margin-top: 64px;
    }
  }

  .text-title {
    font-size: 48px;
  }
  .motion {
    margin: 0 auto;
    img {
      width: 33.3%;
    }
  }
  .service {
    &-info {
      margin-bottom: 48px;
    }
    &__card {
      width: 100%;
      padding: 40px 20px;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    &__title {
      width: 100%;
      font-size: 20px;
      margin-bottom: 24px;
    }
    &__content {
      width: 100%;
      font-size: 32px;
    }
  }
  .my-160 {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .partner {
    &__img {
      img:nth-child(n + 1) {
        width: 48.5%;
        margin: 0 20px;
      }
    }
    &__title {
      font-size: 20px;
      margin-bottom: 24px;
    }
  }
  .swiper {
    margin-top: 48px;
  }
  .filter {
    &__sort {
      display: none;
    }
    &__sort-s {
      display: flex;
    }
    &__scroll {
      overflow-x: scroll;
    }
  }
  .py-160 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .tool {
    h3 {
      font-size: 32px;
      padding-left: 25px;
      padding-right: 25px;
      margin-bottom: 32px;
    }
  }
  .menu {
    &__card {
      width: 90%;
      margin: 0 auto;
    }
    &__card:nth-child(n + 3) {
      margin-top: 0px;
    }
    &__card:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  .question {
    &__title,
    &__option {
      width: 100%;
    }
    &__title {
      font-size: 20px;
    }
  }
  .start {
    &__title {
      display: none;
    }
    &__title-s {
      display: flex;
    }
  }
  .copyright {
    width: 27%;
    white-space: nowrap;
  }
  .footer {
    &__logo {
      order: -1;
      width: 69%;
      margin-bottom: 40px;
    }
    &-link__list {
      width: 100%;
      font-size: 48px;
    }
    &__list {
      order: 3;
      margin-top: 12px;
      width: 100%;
    }
    &__backtotop {
      margin-bottom: 12px;
    }
  }
}
@media (max-width: 375px) {
  .main {
    padding: 0 12px;
  }
  .container {
    max-width: 375px;
  }
  .container-s {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header {
    &__list {
      display: none;
    }
    &__logo {
      a {
        width: 147px;
        height: 24px;
      }
    }
  }
  .nav {
    &-icon {
      display: flex;
    }
  }
  .title {
    &__btn {
      margin-bottom: 180px;
    }
  }

  .motion {
    width: 100%;
  }
  .price {
    &__title {
      font-size: 20px;
      margin-bottom: 24px;
    }
    &-card {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      &__info,
      &__cost {
        padding: 20px;
      }
      &__info {
        flex: 1 0 176px;
      }
    }
  }
  .mt-238 {
    margin-top: 258px;
  }

  .partner {
    &__card {
      padding: 20px;
    }
  }
  .norm {
    &__title {
      font-size: 20px;
    }
  }
  .rule {
    &__title {
      font-size: 32px;
    }
    &__content {
      font-size: 16px;
    }
  }

  .border-radius120 {
    border-radius: 20px;
  }

  .menu {
    &__card {
      width: 100%;
    }

    &__card:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  .copyright {
    white-space: nowrap;
  }
}
