// * http://meyerweb.com/eric/tools/css/reset/
//    v2.0 | 20110126
//    License: none (public domain)
// */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
// ----------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC&display=swap");
body {
  background-color: black;
  font-family: "Noto Sans TC", sans-serif;
}
body,
a,
span {
  color: white;
}
a {
  text-decoration: none;
}
span {
  display: block;
}
button {
  cursor: pointer;
  border-radius: 16px;
}
// * {
//   outline: 1px solid red;
// }
img {
  max-width: 100%;
  height: auto;
  display: block;
}
// -------------------------------------------------------------
.container {
  max-width: 1296px;
  margin: 0 auto;
}
.header {
  &-logo {
    width: 18.9%;
    margin: 20px 0;
    // border: 1px solid rgb(224, 255, 23);
  }
  &-list {
    a:hover {
      border-bottom: 1px solid #ffffff;
    }
  }
  &-menu__list {
    padding: 192px 0px;
  }
}
.nav {
  &-icon {
    display: none;
    cursor: pointer;
  }
  &-icon__list {
    padding: 192px 0;
  }
}
.btn--active {
  transition: all 0.1s ease-in-out;
  &:hover {
    background: #ffffff;
    span {
      color: #000;
    }
  }
}
.title {
  &__content {
    width: 50%;
  }
}
//----------------header動畫------------------
.motion {
  &-mask {
    overflow: hidden;
  }
  &-img1 {
    animation: motion 4s 3s ease-in-out infinite backwards;
  }
  &-img2 {
    animation: motion 4s 3.5s ease-in-out infinite backwards;
  }
  &-img3 {
    animation: motion 4s 3.7s ease-in-out infinite backwards;
  }
}

@keyframes motion {
  0% {
    transform: translate(0.1px, 180px);
  }
  15% {
    transform: translate(0.1px, 180px);
  }
  45% {
    transform: translate(0.1px, 0px);
  }
  75% {
    transform: translate(0.1px, 0px);
  }
  95% {
    transform: translate(0.1px, -180px);
  }
  100% {
    transform: translate(0.1px, -180px);
  }
}
//----------------header動畫------------------
.price {
  &-card {
    width: 49%;
  }
  &-card__list {
    list-style: disc;
  }
  &-card__info {
    flex: 1 0 254px;
  }
}
.sever {
  &__title {
    width: 31.9%;
  }
  &__content {
    width: 66%;
  }
  &__card {
    width: 32%;
  }
}
.partner {
  &__mask1 {
    position: absolute;
    width: 15%;
    height: 100%;
    background-color: #ff0000;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 80%);
  }
  &__mask2 {
    position: absolute;
    right: 0;
    width: 15%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 80%);
  }
  &-enterprise {
    position: relative;
    overflow: hidden;
  }
  &__img {
    position: relative;
    z-index: -1;
    img:nth-child(n + 1) {
      width: 12.3%;
      margin: 0 20px;
    }
  }
  &__card {
    width: 32%;
  }
  &__content {
    flex: 1 0 215px;
  }
}
.star {
  width: 96px;
}
.imgs_slides {
  input {
    display: none;
  }
}
//----------------logo幻燈------------------
.moveSlideshow {
  animation: moveSlideshow 20s linear infinite;
  &-b {
    animation: moveSlideshow1 20s linear infinite;
  }
}
@keyframes moveSlideshow {
  0% {
    transform: translate(-102px, 0px);
  }

  100% {
    transform: translate(-1298px, 0px);
  }
}
@keyframes moveSlideshow1 {
  0% {
    transform: translate(-4px, 0px);
  }

  100% {
    transform: translate(-1200px, 0px);
  }
}
//----------------logo幻燈------------------
.search {
  img {
    width: 24px;
  }
  input {
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }
}
.filter {
  button {
    transition: all 0.1s ease-in-out;
    &:hover {
      background-color: #f2f2f2;
      span {
        font-weight: 700;
      }
    }
  }
  &-sort {
    order: 2;
  }
  &__order {
    order: 3;
  }
  &-sort-s {
    width: 544px;
    button {
      transition: all 0.1s ease-in-out;
      &:hover {
        background-color: #f2f2f2;
        span {
          font-weight: 700;
        }
      }
    }
  }
  &-scroll {
    &::-webkit-scrollbar {
      width: 100%;
      height: 16px;
    }
    &::-webkit-scrollbar-button {
      background: #000000;
    }
    &::-webkit-scrollbar-track-piece {
      background: #000000;
    }
    &::-webkit-scrollbar-thumb {
      background-color: white;
      border: 1px solid rgb(0, 0, 0);
    }
  }
  &-float {
    width: 240px;
    padding: 20px 32px 20px 40px;
    position: absolute;
    z-index: 5;
    // &__list {
    //   li:hover {
    //     background-color: #f2f2f2;
    //   }
    // }
  }
  &-order {
    width: 144px;
    padding: 20px 40px;
    position: absolute;
    z-index: 5;
  }
}
.menu {
  &__card {
    width: 32%;
  }
}
.card {
  &__content {
    flex-grow: 1;
  }
  &__img {
    overflow: hidden;
    width: 100%;
    &--active {
      transition: all 0.5s ease-out;
    }
    &--active:hover {
      transform: scale(1.2);
    }
    img {
      width: 100%;
    }
  }
}
.page {
  &__btn {
    cursor: pointer;
    width: 48px;
    height: 48px;
    transition: all 0.1s ease-in-out;
  }
  &__btn {
    color: #000;
    background: #ffffff;
  }
  &__btn:not(:last-child) {
    margin-right: 4px;
  }
  &__btn:hover {
    background-color: #f2f2f2;
    color: #000;
  }
}
//page換頁點擊效果
[type="radio"] {
  &:checked + label {
    //被選取時，改變label顏色
    background: #000000;
    span {
      color: #ffffff;
    }
  }
}

.active,
.page__btn.active:hover {
  color: #ffffff;
  background-color: #000000;
}
.question {
  &__option {
    width: 66%;
  }
  &-title {
    flex-grow: 1;
  }
}
.option1,
.option2,
.option3,
.option4,
.option5 {
  cursor: pointer;
  &:hover {
    border: 1px solid #ffffff;
  }
}
.footer {
  &-logo {
    width: 18.9%;
  }
  &__backtotop {
    flex-grow: 1;
  }
}
.backtotop {
  cursor: pointer;
}
.copyright {
  width: 15%;
  white-space: nowrap;
}

//----------------------------------------------
.d {
  &-f {
    display: flex;
  }
  &-b {
    display: block;
  }
  &-n {
    display: none;
  }
}
.jc {
  &sb {
    justify-content: space-between;
  }
  &fe {
    justify-content: flex-end;
  }
  &c {
    justify-content: center;
  }
}
.ai {
  &c {
    align-items: center;
  }
}
.fx {
  &ww {
    flex-wrap: wrap;
  }
  &dc {
    flex-direction: column;
  }
}
.p {
  &b-l {
    padding-bottom: 40px;
  }
  &-l {
    padding: 40px;
  }
  &y-2xs {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  &y-xs {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  &y-s {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &y-m {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &y-xl {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &y-160 {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  &x-m {
    padding-left: 32px;
    padding-right: 32px;
  }
  &x-l {
    padding-left: 40px;
    padding-right: 40px;
  }
  &m-btn {
    padding: 20px 32px 20px 40px;
  }
  &s-btn {
    padding: 8px 16px;
  }
}
.m {
  &r-xs {
    margin-right: 12px;
  }
  &r-s {
    margin-right: 16px;
  }
  &r-m {
    margin-right: 20px;
  }
  &l-m {
    margin-left: 24px;
  }
  &b-2xs {
    margin-bottom: 8px;
  }
  &b-xs {
    margin-bottom: 12px;
  }
  &b-s {
    margin-bottom: 16px;
  }

  &b-m {
    margin-bottom: 20px;
  }

  &b-l {
    margin-bottom: 24px;
  }
  &b-xl {
    margin-bottom: 32px;
  }
  &b-2xl {
    margin-bottom: 40px;
  }
  &b-3xl {
    margin-bottom: 48px;
  }
  &b-80 {
    margin-bottom: 80px;
  }

  &b-100 {
    margin-bottom: 100px;
  }
  &t-2xs {
    margin-top: 4px;
  }
  &t-s {
    margin-top: 16px;
  }
  &t-l {
    margin-top: 40px;
  }
  &t-xl {
    margin-top: 80px;
  }
  &t-160 {
    margin-top: 160px;
  }
  &t-238 {
    margin-top: 160px;
  }
  &y-m {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &y-l {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &y-160 {
    margin-top: 160px;
    margin-bottom: 160px;
  }

  &x-l {
    margin-left: 40px;
    margin-right: 40px;
  }
}
.text {
  &-light {
    color: #ffffff;
  }
  &-light1 {
    color: #f2f2f2;
  }
  &-dark {
    color: #000;
  }

  &-dark1 {
    color: #919191;
  }
  &-dark2 {
    color: #525252;
  }
  &-tool {
    color: #000;
  }
  &-00 {
    font-size: 12px;
  }
  &-0 {
    font-size: 14px;
  }
  &-1 {
    font-size: 20px;
  }

  &-3 {
    font-size: 32px;
  }
  &-5 {
    font-size: 48px;
  }
  &-6 {
    font-size: 80px;
  }
  &-title {
    font-size: 120px;
  }
  &-700 {
    font-weight: 700;
  }
  &-900 {
    font-weight: 900;
  }
  &-c {
    text-align: center;
  }
}
.icon {
  &-s {
    font-size: 16px;
  }
  &-menu {
    position: absolute;
  }

  &-remove {
    position: absolute;
    left: 0px;
  }
}
.position {
  &-relative {
    position: relative;
  }
}
.opacity {
  opacity: 0;
}
.lh {
  &-0 {
    line-height: 120%;
  }
  &-1 {
    line-height: 150%;
  }
}
.bk {
  &-dark {
    background: #000;
  }
  &-light {
    background: #ffffff;
  }
  &-a {
    background: rgba(255, 255, 255, 0.08);
  }
  &-tool {
    background: #f2f2f2;
  }
}
.border {
  border: 1px solid #ffffff;
  &-2 {
    border: 1px solid #f2f2f2;
  }
  &-2b {
    border-bottom: 1px solid #f2f2f2;
  }
  &-n {
    border: none;
  }
  &-b {
    border-bottom: 1px solid #ffffff;
  }
  &-t {
    border-top: 1px solid #ffffff;
  }
  &-0 {
    border: 1px solid #525252;
  }
  &-0b {
    border-bottom: 1px solid #525252;
  }
  &-radius {
    border-radius: 16px;
  }
  &-radius-t {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  &-radius120 {
    border-radius: 120px;
  }
  &-radius-n {
    border-radius: 0px;
  }
}
//----------------slider image------------------
.slider {
  display: none;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 48px;
  margin-bottom: 24px;
}
.imgs_slides input {
  display: none;
}

.imgs_slides {
  width: 500%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 2s;
}
.navigation-btn {
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  cursor: pointer;
  background: #525252;
}
.navigation-btn:not(:last-child) {
  margin-right: 8px;
}

.navigation-btn:hover {
  background: #ffffff;
  width: 12px;
  height: 12px;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}
//----------------slider image------------------
@media (max-width: 992px) {
  .container {
    max-width: 968px;
  }
  .sever {
    &-info {
      margin-bottom: 48px;
    }
    &__card {
      width: 100%;
      padding: 40px;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
  .partner {
    &__card {
      width: 100%;
      &:nth-child(n + 2) {
        margin-top: 24px;
      }
    }
    &__content {
      flex: 1 0 144px;
    }
  }

  .tool {
    h3 {
      font-size: 48px;
      padding: 0 40px;
      margin-bottom: 32px;
    }
  }
  .search,
  .filter {
    margin-bottom: 16px;
  }
  .menu {
    margin-top: 32px;
    margin-bottom: 32px;
    &__card {
      width: 49%;
      margin: 0;
    }
    &__card:nth-child(n + 3) {
      margin-top: 20px;
    }
  }

  .footer {
    &__backtotop {
      margin-top: 12px;
    }
  }
}
//分類按鈕斷點
@media (max-width: 769px) {
  .filter {
    &-sort {
      display: none;
    }
    &-sort-s {
      display: flex;
    }
    &-scroll {
      overflow-x: auto;
    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 743px;
  }
  .header {
    &-logo {
      width: 41.8%;
    }
  }
  .title {
    &_info {
      display: none;
      &-S {
        display: block;
      }
    }
    &__content {
      font-size: 28px;
      width: 73%;
      margin-top: 64px;
    }
  }

  .text-title {
    font-size: 48px;
  }
  .motion {
    margin: 0 auto;
    img {
      width: 33.3%;
    }
  }
  .sever {
    &-info {
      margin-bottom: 48px;
    }
    &__card {
      width: 100%;
      padding: 40px 20px;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    &__title {
      width: 100%;
      font-size: 20px;
      margin-bottom: 24px;
    }
    &__content {
      width: 100%;
      font-size: 32px;
    }
  }
  .my-160 {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .partner {
    &__img {
      img:nth-child(n + 1) {
        width: 48.5%;
        margin: 0 20px;
      }
    }
    &-title {
      font-size: 20px;
      margin-bottom: 24px;
    }
    &-comment {
      display: none;
    }
    &__card {
      padding: 20px;
    }
    &__content {
      flex: 1 0 144px;
    }
  }

  .filter {
    &-sort {
      display: none;
    }
    &-sort-s {
      display: flex;
    }
    &-scroll {
      overflow-x: auto;
    }
  }
  .tool {
    padding-top: 80px;
    padding-bottom: 80px;
    h3 {
      font-size: 32px;
      padding: 0 40px;
      margin-bottom: 32px;
    }
  }
  .menu {
    &__card {
      width: 90%;
      margin: 0 auto;
    }
    &__card:nth-child(n + 3) {
      margin-top: 0px;
    }
    &__card:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  .question {
    &__title,
    &__option {
      width: 100%;
    }
    &__title {
      font-size: 20px;
    }
  }
  .start {
    &-title {
      display: none;
    }
    &-title-s {
      display: flex;
    }
  }
  .copyright {
    width: 27%;
    white-space: nowrap;
  }
  .footer {
    &-logo {
      order: -1;
      width: 69%;
      margin-bottom: 40px;
    }
    &-list {
      width: 100%;
      font-size: 48px;
    }
    &__list {
      order: 3;
      margin-top: 12px;
      width: 100%;
    }
    &__backtotop {
      margin-bottom: 12px;
    }
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 351px;
  }
  .header {
    &-list {
      display: none;
    }
  }
  .nav {
    &-icon {
      display: flex;
    }
  }
  .title {
    &__btn {
      margin-bottom: 180px;
    }
  }

  .motion {
    width: 100%;
  }
  .price {
    &__title {
      font-size: 20px;
      margin-bottom: 24px;
    }
    &-card {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      &__info,
      &__cost {
        padding: 20px;
      }
      &__info {
        flex: 1 0 176px;
      }
    }
  }
  .mt-238 {
    margin-top: 258px;
  }
  .partner {
    &__card {
      width: 20%;
      &:nth-child(n + 2) {
        margin-top: 0px;
      }
    }
  }
  .norm {
    &__title {
      font-size: 20px;
    }
  }
  .rule {
    &__title {
      font-size: 32px;
    }
    &__content {
      font-size: 16px;
    }
  }
  .slider,
  .navigation-btn {
    display: block;
  }

  .border-radius120 {
    border-radius: 20px;
  }

  .menu {
    &__card {
      width: 100%;
    }

    &__card:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  .copyright {
    white-space: nowrap;
  }
}
